/* ////// FONTS /////// */

@font-face {
	font-family: 'Impact';
	src: url('../fonts/Impact');
	font-family: 'Arial';
	src: url('../fonts/Arial');
	/*font-family 'astronaut';
	src: url(../fonts/astronaut/ASTRII__.TTF);*/
}


/* ////// GLOBAL ////// */

body {
	background: rgba(246,246,246,1);
}

#wrapper {
	display: block;
	max-width: 980px;
	min-width: 800px;
	min-height: 700px;
	margin: 0 auto;
	padding: 0 3%;
	background: white;
	position: relative;

}

* {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* ////// HEADER ////// */ 

#header {
	display: block;
	width: 100%;
	padding-top: 5px;
	height: 118px; 
	border-bottom: 2px solid black;
}

#logo {
	float: left;
	width: 14%;
	height: 14%;
}

.title {
	float: left;
	width: 80%;
	height: 120px;
}

.title h1 {
	font: bold 1.5em/1.5em Impact,'sans-serif bold';
	-webkit-font-smoothing: antialiased;
}

.title h2 {
	font: bold italic 1em/1em Arial,Helvetica,'sans-serif bold italic';
	-webkit-font-smoothing: antialiased;
}



/* ////// NAV ////// */


.nav {
	width: 100%;
	height: 2em;
	display: inline-block;
	clear: both;
}

.nav a {
	width: 16.667%;
	float: left;
	padding-bottom: 5px;
	background-color: rgba(63,63,90,1);
	height: 2.3em;
	border: 2px solid #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	font: .75em/2em 'Arial Bold', sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both; 
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.nav a:link, .nav a:visited {
	color: #fff;
	text-decoration: none;
}

.nav a:hover {
	background-color: rgba(175,195,220,1);
	color: rgba(24,121,253,1);
}

.nav a:active {
	color: white;
	text-decoration: none;
	font-size: .8em;
	text-align: center;
	background-color: rgba(175,195,220,1);
	height: 2.3em;
	border: 1px solid rgba(175,195,221,1);
	border-radius: 7px;
}

#current  {
	background-color: rgba(24,121,253,1);
}


/* ////// BODY ////// */

.content {
	width: 100%;
}

#hero_pic img {
	width: 100%;
	display: block;
	padding-bottom: 2em;
}

.modules img {
	width: 12.5%;
	float: left;
	padding: 20px 10px 0 10px;
	border: 2px solid #fff;
	display: inline-block;
}



/* ////// FOOTER ///// */

.wrapper_footer {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.footer {
	max-width: 921px;
	min-width: 752px;
	height: 40px;
	background-color: rgba(124,160,199,.5);
	font: bold .7em/1em 'Arial Bold', sans-serif;
	color: #fff;
	text-align: right;
	-webkit-font-smoothing: antialiased;
	padding: 15px;
	border-radius: 7px;
	display: block;
	clear: both;
	margin-bottom: 10px;
}

.footer a {
	color: #fff;
	text-decoration: none;
}

.footer a:hover {
	color: rgba(24,121,253,1);
}

.footer a:active {
	color: red;
	text-decoration: none;
}
/* TEST */

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	height: 80%;
	padding: 16px;
	border: 5px solid rgba(24,121,253,.5);
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.modules .lightbox {
	width: 100%;
}


