/* ////// FONTS /////// */

@font-face {
	font-family: 'Impact';
	src: url('../fonts/Impact');
	font-family: 'Arial';
	src: url(../fonts/Arial);
	/*font-family 'astronaut';
	src: url(../fonts/astronaut/ASTRII__.TTF);*/
}


/* ////// GLOBAL STYLES ////// */

* {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	background: rgba(246,246,246,1);
	width: 900px;
	margin: 0 auto;
}

.wrapper {
	background: white;
	padding: 0 45px 45px;
	overflow: auto;
}

header h1 {
	font: bold 1.5em/1.5em Impact,sans-serif;
	-webkit-font-smoothing: antialiased;
}

header h2 {
	font: bold italic 1em/1em 'Arial Bold Italic',Helvetica,sans-serif italic;
	-webkit-font-smoothing: antialiased;
}

.top {
	border-bottom: 2px solid black;
	height: 115px; 
}

.logo {
	float: left;
	width: 120px;
	height: 130px;
}

.title {
	float: left;
	width: 80%;
	height: 120px;
}

.contact {



}
/* ////// NAV ////// */


.nav {
	font: .75em/2em 'Arial Bold', sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	-webkit-font-smoothing: antialiased;

	width: 100%;
	height: 30px;
	float: left;
	clear: both;
	border-top: 20px;
}

.pages a:link, .pages a:visited {
	color: #fff;
	text-decoration: none;
}

.pages a:hover {
	color: rgba(24,121,253,1);
	/*text-decoration: underline;*/
}
.pages a:active {
	color: red;
	text-decoration: none;
}
.pages a {
	width: 16.667%;
	float: left;
	background-color: rgba(63,63,63,1);
	border: 2px solid #fff;
	border-radius: 7px;

}

#current  {
	width: 16.667%;
	float: left;
	background-color: rgba(24,121,253,1);
	border: 2px solid #fff;
}
/* ////// BODY ////// */

.main_image img {
	width: 100%;
}

.modules img {
	width: 12.5%;
	float: left;
	padding-top: 20px;
	border: 2px solid #fff;
}

.modules p {
	clear: left;
	font: .6em/1em 'Arial Bold', sans-serif;
	text-align: center;
}


.columns  {
	column-count: 3;
	column-gap: 4px;
	column-rule: 1px solid black;
}

.col-right {
	width: 32%;
	float: left;
}

/* ////// FOOTER ///// */

footer {
	width: auto%; 
	height: 40px;
	background-color: rgba(124,160,199,.5);
	font: .6em/1em 'Arial Bold', sans-serif;
	color: #fff;
	font-weight: bold;
	text-align: right;
	padding: 15px;
	-webkit-font-smoothing: antialiased;
	border-radius: 5px;


}