/* ////// FONTS /////// */

@font-face {
	font-family: 'Impact';
	src: url('../fonts/Impact');
	font-family: Arial;
	src: url('../fonts/Arial');
	font-family: 'Knock HTF';
	src: url('../fonts/Knock HTF/KnockHTF67FulBan');
	font-family: 'astronaut';
	src: url('../fonts/astronaut/ASTRI__.TTF');
	font-family: 'Avenir';
	src: url('../fonts/Avenir Next Condensed.ttc');
}


/* ////// GLOBAL ////// */

body {
	background: rgba(246,246,246,1);
	font-size: 100%
}


.wrapper {
	display: block;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	padding: 0 2%;
	background: white;
	position: relative;
	box-shadow: 0px 5px 80px #111;
	border-left: 4px solid #fff;
	border-right: 4px solid #fff;

}

.clearfix:after {
	content: " ";
	display: block;
	clear: both; 
	visibility: hidden;
	height: 0;
	line-height: 0;
}

* {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	width: 100%;
	max-width: 100%;
}

/* ////// BACKGROUNDS ////// */

.wallpaper {
  background: url(../images/korg_ps3100_inverted_crop_mauve.jpg) center;
  background-size: 100%

}

.light-fade {
	background: rgb(204,204,204); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.light-fade-blue {
	background: rgb(208,216,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(208,216,226,1) 0%, rgba(242,242,242,1) 69%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,216,226,1)), color-stop(69%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(208,216,226,1) 0%,rgba(242,242,242,1) 69%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(208,216,226,1) 0%,rgba(242,242,242,1) 69%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(208,216,226,1) 0%,rgba(242,242,242,1) 69%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(208,216,226,1) 0%,rgba(242,242,242,1) 69%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d8e2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

/* ////// SOCIAL ////// */

#social {
  position: relative;
  display: inline;
  float: right;
  width: 37%;
  padding-right: 48px;
/*  top: 90px;
  right: 280px;
  width: 90px;
*/}

#social a {
	display: inline;
	float: right;
	width: 20px;
	height: 20px;
	margin-left: 10px; 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	border: 0 solid;
	border-radius: 50%; 
}

a.fbook, a.twit, a.gplus {
  background: url(../images/social_icons.png) no-repeat;
  background-size: 700%
}

a.fbook { background-position: 0 -20px; }
a.fbook:hover { background-position: 0 -40px; }
a.fbook:active { background-position: 0 0; }

a.twit { background-position: -40px -20px; }
a.twit:hover { background-position: -40px -40px; }
a.twit:active { background-position: -40px 0; }

a.gplus { background-position: -80px -20px; }
a.gplus:hover { background-position: -80px -40px; }
a.gplus:active { background-position: -80px 0; }



/* ////// HEADER ////// */ 

.header {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 5px; 
	margin-left: 0px;
	height: 120px; 
	box-shadow: 1px 4px 10px #bbb;
	border-bottom: 2px solid black;
}

#logo {
	position: relative;
	display: inline-block;
	float: left;
	width: 13%;
	padding-left: 5px;
}

#logo h1 {
	position: relative;
  	width: 105px;
  	height: 102px;
	font: .5em/1em Arial, Helvetica, sans-serif;
  	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../images/korg_logo_red.jpg) no-repeat;
	background-size: 100%;
}

#title {
	position: relative;
	display: inline-block;
	float: left;
	width: 87%;
	padding-left: 5px;
}

#title h2 {
	width: 100%;
	font: bold 2.8em/1em astronaut, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 20px 5px 0 0;
	color: rgba(100,44,40,1);
}

#title h3 {
	width: 50%;
	font: bold italic  1.1em/1em 'Avenir Next Condensed', Times, 'serif italic';
	-webkit-font-smoothing: antialiased;
	margin: 5px 5px 0 0;
	color: rgba(24,25,30,1);
}


/* ////// NAV ////// */

.nav-wrapper {
	position: absolute;
	top: 130px;
	left: 28px;
	width: 895px;
	height: 3em;
	box-shadow: 1px 8px 10px #bbb;
	border: 2px #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*	OLD CODE
	background-color: rgba(65,61,77,.4);
	background-color: rgba(184,196,202,.3);
*/	
}

.navbox {
	display: inline;
	float: left;
	width: 142px;
	height: 2.6em;
	margin-left: 5px;
}

/* ////// NAV LINK ////// */

.navbox #home a {
	display: block;
	width: 142px;
	height: 2.6em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background: url(../images/sprites.png) no-repeat;
	background-size: 735%;
	background-position: 0 -2px;
}

.navbox #history a {
	display: block;
	width: 142px;
	height: 2.6em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background: url(../images/sprites.png) no-repeat;
	background-size: 735%;
	background-position: -144px -2px;
}

.navbox #modules a {
	display: block;
	width: 142px;
	height: 2.6em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background: url(../images/sprites.png) no-repeat;
	background-size: 735%;
	background-position: -288px -2px;
}

.navbox #media a {
	display: block;
	width: 142px;
	height: 2.6em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background: url(../images/sprites.png) no-repeat;
	background-size: 735%;
	background-position: -432px -2px;
}

.navbox #resources a {
	display: block;
	width: 142px;
	height: 2.6em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background: url(../images/sprites.png) no-repeat;
	background-size: 735%;
	background-position: -576px -2px;
}

.navbox #contact a {
	display: block;
	width: 142px;
	height: 2.6em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background: url(../images/sprites.png) no-repeat;
	background-size: 735%;
	background-position: -720px -2px;
}

/*	OLD CODE (PRE SPRITES)
	width: 142px;
	float: left;
	margin-left: 5px;
	padding-bottom: 5px;
	background-color: rgba(63,63,90,1);
	height: 2.6em;
	border: 3px solid rgba(210,218,223,1);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	font: .75em/2em 'Arial Bold', sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	-webkit-font-smoothing: antialiased;
*/


/* ////// NAV HOVER ////// */

.navbox #home a:hover {
	background-position: 0px -50px;
}

.navbox #history a:hover {
	background-position: -144px -50px;
}

.navbox #modules a:hover {
	background-position: -288px -50px;
}

.navbox #media a:hover {
	background-position: -432px -50px;
}

.navbox #resources a:hover {
	background-position: -576px -50px;
}

.navbox #contact a:hover {
	background-position: -720px -50px;
}

/*	OLD CODE (PRE SPRITES)
	color: white;
	text-decoration: none;
	font-size: .75em;
	text-align: center;
	background-color: rgba(175,195,220,1);
	height: 2.6em;
	border: 3px solid rgba(210,218,223,1);
	border-radius: 7px;
*/

/* ////// NAV ACTIVE //////*/

.navbox #home a:active {
	background-position: 0px -98px;
}

.navbox #history a:active {
	background-position: -144px -98px;
}

.navbox #modules a:active {
	background-position: -288px -98px;
}

.navbox #media a:active {
	background-position: -432px -98px;
}

.navbox #resources a:active {
	background-position: -576px -98px;
}

.navbox #contact a:active {
	background-position: -720px -98px;
}

/*	OLD CODE (PRE SPRITES)
	color: white;
	text-decoration: none;
	font-size: .75em;
	text-align: center;
	background-color: rgba(175,195,220,1);
	height: 2.6em;
	border: 3px solid rgba(210,218,223,1);
	border-radius: 7px;
*/


/* ////// NAV CURRENT ////// */

.navbox #home #current a {
	background-position: 0px -147px;
}

.navbox #history #current a {
	background-position: -144px -147px;
}

.navbox #modules #current a {
	background-position: -288px -147px;
}

.navbox #media #current a {
	background-position: -432px -147px;
}

.navbox #resources #current a {
	background-position: -576px -147px;
}

.navbox #contact #current a {
	background-position: -720px -147px;
}


/*	OLD CODE (PRE SPRITES)
	background-color: rgba(24,121,253,1);
	color: #fff;
*/



/* ////// BODY ////// */

.container {
	display: block;
	clear: both;
	width: 100%;
	padding-top: 5%;
}

.col-6 {
	width: 100%;
}

.col-3 {
	width: 49%;
}

.col-2 {
	width: 32%;
}

.col-1 {
	width: 15%;
}

[class*="col-"] {
	float: left; 
}

/*[class*="col-"]:first-child {
	margin-left: 0;
	border-left: none;
	padding-left: 0;
}
*/
.border-left {
  border-left: 1px dotted #ccc;
  padding-left: 2%;
  margin-left: 1.5%;
}


#hero_pic img {
	width: 100%;
	display: block;
/*	padding-bottom: 2em;
*/}

.modules img {
	width: 12.5%;
	float: left;
	padding: 20px 10px 0 10px;
	border: 2px solid #fff;
	display: inline-block;
}


.form {
	display: block;
	border: 2px solid black;
	margin-left: 10%;
}


/* ////// FOOTER ///// */


#footer {
	max-width: 921px;
	min-width: 752px;
	height: 40px;
	background-color: rgba(156,184,212,1);
	/*background-color: rgba(124,160,199,.5);
	*/
	font: bold .7em/1em 'Arial Bold', sans-serif;
	color: #fff;
	text-align: right;
	-webkit-font-smoothing: antialiased;
	padding: 15px;
	border-radius: 7px;
	margin-bottom: 15px;
	position: relative; 
}

#footer a:link {
	color: #fff;
	text-decoration: none;
}

#footer a:visited {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	color: rgba(81,31,29,1);
}

#footer a:active {
	color: rgba(24,121,253,1);
	text-decoration: underline;
}

/* TEST */

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	height: 80%;
	padding: 16px;
	border: 5px solid rgba(24,121,253,.5);
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.modules .lightbox {
	width: 100%;
}


